<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551486060936-1p5f02el9mqrn8tsfofcvbpht4kvtcmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551486060936-1p5f02el9mqrn8tsfofcvbpht4kvtcmb</string>
	<key>API_KEY</key>
	<string>AIzaSyAd7VsxCFOtCXjss42EJF0VOcNFb_2a0xA</string>
	<key>GCM_SENDER_ID</key>
	<string>551486060936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mseplatform.elibrary</string>
	<key>PROJECT_ID</key>
	<string>elibrary-f92a9</string>
	<key>STORAGE_BUCKET</key>
	<string>elibrary-f92a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551486060936:ios:bb5255933239deb152e23d</string>
</dict>
</plist>